# Игнорировать исполняемые файлы
*.exe
*.out
*.app

# Игнорировать объектные файлы и промежуточные файлы компиляции
*.o
*.obj
*.a
*.lib
*.so

# Игнорировать папки сборки
build/
bin/
Debug/
Release/

# Игнорировать временные файлы и файлы редакторов
*.swp
*.swo
*.tmp
.vscode/
.idea/

# Игнорировать файлы логов
*.log

# Игнорировать файлы настроек компилятора
*.ilk
*.pdb
*.idb

# Игнорировать файлы данных
users.csv
transactions.csv
